.carousel-item {
  height: 500px; /* Adjust the height as needed to match the tallest image */
}
#carouselExampleAutoplaying .carousel-control-next {
  display: none;
}
#carouselExampleAutoplaying .carousel-control-prev {
  display: none;
}

// buttons
.btn41-43 {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-41 {
  border: 2px solid rgb(255, 255, 255);
  z-index: 1;
  color: white;
  text-decoration: none;
}

.btn-41:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  background: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.btn-41:hover {
  color: rgb(0, 0, 0);
}

.btn-41:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-41:active {
  top: 2px;
}

.icons_bg {
  background-color: bisque;
}
/* styles.css */
.image-container {
  position: relative;
}

.moved-image {
  position: absolute;
  top: 50px; /* Adjust the value to move it slightly */
  left: 200px; /* Adjust the value to move it slightly */
}

@media (max-width: 575px) {
  .moved-image {
    position: static;
    top: auto;
    left: auto;
  }
}
.hover-red:hover {
  color: red;
}

.bn32 {
  border-color: black;
  // border-color: #ffffff;
  padding: 0.6em 2.3em;
  cursor: pointer;
  font-size: 1em;
  color: red;
  // color: #ffffff;
  background-image: linear-gradient(45deg, transparent 50%, #000000 50%);
  background-position: 25%;
  background-size: 400%;
  -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
  transition: background 500ms ease-in-out, color 500ms ease-in-out;
}

.bn32:hover {
  color: #ffffff;
  background-position: 100%;
}

.card-container {
  height: 90%;
  overflow: hidden;
  position: relative;
}

.card_overflow {
  width: 100%;
  transition: transform 0.5s;
}

.card-container:hover .card_overflow {
  transform: scale(1.2);
}

.hover-effect {
  &:hover {
    color: red !important; // Change this to the desired red color
  }
}

/* OurMenu.css */
.menu-card {
  width: 18rem;
  margin: 10px; /* Adjust as needed */
}

@media (max-width: 767px) {
  .menu-card {
    width: 100%;
  }
}
